@import url("https://fonts.googleapis.com/css2? family= Inter:wght@500 & family= Poppins:ital,wght@1,700 & family= Roboto+Slab:wght@300 & display= intercambio");
footer {
  height: 100px;
  background-image: url(../../media/footer.jpg);
  background-size: cover;
  font-size: 22px;
  display: flex;
  justify-content: center;
}
footer .iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
footer .iconos a {
  color: rgb(0, 0, 0);
  margin-right: 20px;
}
footer .iconos a p {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: "Roboto Slab", serif;
  align-items: center;
}
.navbar .barra {
  display: flex;
  font-size: 20px;
}
.navbar .barra ul {
  padding-right: 20px;
}
.navbar .barra ul li {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  transition: 0.8s;
}
.navbar .barra ul li a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  transition: 0.5s;
}
.navbar .barra ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  text-decoration: underline;
  transform: scale(1.2);
}

/* ESTILOS PARA EL FOOOTER */
footer {
  height: 100px;
  background-image: url(../../media/footer.jpg);
  background-size: cover;
  font-size: 22px;
  display: flex;
  justify-content: center;
}
footer .iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
footer .iconos a {
  color: rgb(0, 0, 0);
  margin-right: 20px;
}
footer .iconos a p {
  display: inline-block;
}

.titulo {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px rgb(0, 0, 0) solid;
  font-family: Poppins;
}
.titulo h1 {
  font-size: 50px;
}

main {
  padding: 15px;
}

/* ESTILOS PARA EL INDEX.HTML */
marquee {
  font-family: Poppins;
  border-bottom: solid 3px rgb(0, 0, 0);
  padding: 5px;
}

.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Poppins;
}
.mainHome .bloque {
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 5px rgba(49, 32, 32, 0.665);
  margin: 5px 5px 0 5px;
  background-color: rgb(255, 255, 255);
}
.mainHome .bloque img {
  height: 300px;
  width: 300px;
  padding: 5px;
}
.mainHome .bloque p {
  margin: 10px;
}

/* Estilos para Bicicletas.html */
.bicicletas {
  height: 800px;
  border: 3px dotted rgb(255, 0, 0);
  background-color: rgba(132, 79, 79, 0.5);
}

/* ESTILOS PARA MARCAS.HTML */
.marca {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.topmega {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

.textoyboton {
  width: 400px;
  height: auto;
  border: 5px solid rgb(255, 0, 0);
  margin-left: 50px;
}

.textoyboton p {
  font-size: 22px;
}

.textoyboton button {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  margin-top: 146px;
}

.zion {
  display: flex;
  justify-content: center;
  margin: 40px;
  text-align: center;
}

.textoyboton2 {
  width: 400px;
  height: auto;
  border: 5px solid rgb(255, 0, 0);
  margin-left: 50px;
}

.textoyboton2 p {
  font-size: 22px;
}

.textoyboton2 button {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  margin-top: 172px;
}

main .cuerpo {
  height: 750px;
}

/* ESTILOS PARA BICICLETAS */
.gridBici {
  border: 2px solid rgb(0, 0, 0);
  height: auto;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis";
  background-color: rgb(255, 0, 0);
}

.bici {
  /* border: 2px black solid; */
  border-radius: 5px;
}

.card {
  height: 100%;
}

.biciuno {
  grid-area: uno;
}

.bicidos {
  grid-area: dos;
}

.bicitres {
  grid-area: tres;
}

.bicicuatro {
  grid-area: cuatro;
}

.bicicinco {
  grid-area: cinco;
}

.biciseis {
  grid-area: seis;
}

/* ESTILOS PARA ACCESORIOS */
.gridAccesorios {
  border: 2px solid rgb(0, 0, 0);
  height: auto;
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis";
  background-color: rgb(255, 0, 0);
}

.accesorio {
  margin: 0 5px;
  border-radius: 5px;
  grid-gap: 5px;
}

.btnCard {
  padding: 10px 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 10px;
}

.acceUno {
  grid-area: uno;
}

.acceDos {
  grid-area: dos;
}

.acceTres {
  grid-area: tres;
}

.acceCuatro {
  grid-area: cuatro;
}

.acceCinco {
  grid-area: cinco;
}

.acceSeis {
  grid-area: seis;
}

/* ESTILOS PARA NOSOTROS.HTML */
.cuerpo {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cuerpo form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=estilos.css.map */
