/*COLORES CON VARIABLES*/
@import url("https://fonts.googleapis.com/css2? family= Inter:wght@500 & family= Poppins:ital,wght@1,700 & family= Roboto+Slab:wght@300 & display= intercambio");
/* ESTILOS PARA EL HEADER*/
.navbar {
  font-family: "Roboto Slab", serif;
  align-items: center;
}
.navbar .barra {
  display: flex;
  font-size: 20px;
}
.navbar .barra ul {
  padding-right: 20px;
}
.navbar .barra ul li {
  list-style: none;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  transition: 0.8s;
}
.navbar .barra ul li a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  transition: 0.5s;
}
.navbar .barra ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  text-decoration: underline;
  transform: scale(1.2);
}

/* ESTILOS PARA EL FOOOTER */
footer {
  height: 100px;
  background-color: rgb(255, 0, 0);
  background-size: cover;
  font-size: 22px;
  display: flex;
  justify-content: center;
}
footer .iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
footer .iconos a {
  color: rgb(0, 0, 0);
  margin-right: 20px;
}
footer .iconos a p {
  display: inline-block;
}

/* ESTILOS PARA INDEX.HTML */
/* ESTILOS PARA EL INDEX.HTML */
marquee {
  font-family: Poppins;
  border-bottom: solid 3px rgb(0, 0, 0);
  padding: 5px;
}

.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: Poppins;
}
.mainHome .imagenfondo {
  background-image: url(../media/marca/ciclista.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  margin: 10px 0px;
}
.mainHome .imagenfondo .bloques {
  display: flex;
}
.mainHome .imagenfondo .bloques .bloque {
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 5px rgba(49, 32, 32, 0.665);
  margin: 5px 5px 0 5px;
  background-color: rgb(255, 255, 255);
}
.mainHome .imagenfondo .bloques .bloque img {
  height: 300px;
  width: 300px;
  padding: 5px;
}
.mainHome .imagenfondo .bloques .bloque p {
  margin: 10px;
}

@media screen and (min-width: 447px) {
  .bloque {
    max-width: 450px;
    width: 100%;
  }
}
/* ESTILOS PARA MARCAS.HTML */
/* ESTILOS PARA MARCAS.HTML */
.marcas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.marcas .marca {
  justify-content: space-between;
  max-width: 350px;
  height: 500px;
  padding: 15px;
  margin: 30px;
}
.marcas .marca img {
  max-width: 100%;
}
.marcas .marca p {
  max-width: 400px;
}

.mainMarca {
  height: 1400px;
}

@media screen and (min-width: 1170px) {
  .mainMarca {
    height: 1000px;
  }
}
@media screen and (max-width: 789px) {
  .mainMarca {
    height: 2200px;
  }
}
/* ESTILOS PARA BICICLETAS.HTML */
/* Estilos para Bicicletas.html */
.gridBici {
  border: 2px solid rgb(0, 0, 0);
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "1" "2" "3" "4" "5" "6";
  background-color: rgb(255, 0, 0);
}
.gridBici .bici {
  border-radius: 5px;
}
.gridBici .bici .bici1 {
  grid-area: 1;
}
.gridBici .bici .bici2 {
  grid-area: 2;
}
.gridBici .bici .bici3 {
  grid-area: 3;
}
.gridBici .bici .bici4 {
  grid-area: 4;
}
.gridBici .bici .bici5 {
  grid-area: 5;
}
.gridBici .bici .bici6 {
  grid-area: 6;
}
.gridBici .bici .card {
  height: 100%;
}

/* ESTILOS PARA ACCESORIOS */
/* ESTILOS PARA ACCESORIOS */
h3 {
  text-align: center;
}

.gridAccesorios {
  border: 2px solid rgb(0, 0, 0);
  height: auto;
  display: grid;
  padding: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "1" "2" "3" "4" "5" "6";
  background-color: rgb(255, 0, 0);
}
.gridAccesorios .accesorio {
  margin: 0 5px;
  border-radius: 5px;
  grid-gap: 5px;
}
.gridAccesorios .accesorio .acce1 {
  grid-area: 1;
}
.gridAccesorios .accesorio .acce2 {
  grid-area: 2;
}
.gridAccesorios .accesorio .acce3 {
  grid-area: 3;
}
.gridAccesorios .accesorio .acce4 {
  grid-area: 4;
}
.gridAccesorios .accesorio .acce5 {
  grid-area: 5;
}
.gridAccesorios .accesorio .acce6 {
  grid-area: 6;
}
.gridAccesorios .card-img-top {
  max-height: 500px;
}

.btnCard {
  padding: 10px 20px;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

/* ESTILOS PARA NOSOTROS.HTML */
/* ESTILOS PARA NOSOTROS.HTML */
h2 {
  text-align: center;
  color: #333;
}

.cuerpo {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cuerpo form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuerpo form label {
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}
.cuerpo form input, .cuerpo form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.cuerpo form .enviar {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cuerpo form .enviar:hover {
  background-color: #45a049;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px rgb(0, 0, 0) solid;
  font-family: Poppins;
}
.titulo h1 {
  font-size: 50px;
}

main {
  padding: 15px;
}

/*# sourceMappingURL=estilos.css.map */
