/*COLORES CON VARIABLES*/
@import '../scss/base/colores';

/* ESTILOS PARA EL HEADER*/
@import '../scss/componentes/header';

/* ESTILOS PARA EL FOOOTER */
@import '../scss/componentes/footer';                                  

/* ESTILOS PARA INDEX.HTML */
@import '../scss/componentes/index';

/* ESTILOS PARA MARCAS.HTML */
@import '../scss/componentes/marcas';

/* ESTILOS PARA BICICLETAS.HTML */
@import '../scss/componentes/bicicletas';

/* ESTILOS PARA ACCESORIOS */
@import '../scss/componentes/accesorios';

/* ESTILOS PARA NOSOTROS.HTML */
@import '../scss/componentes/nosotros';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    text-align: center;
    background-color: $blanco;
    border-bottom: 2px $negro solid;
    font-family: $fuente;
        h1{
            font-size: 50px;
    }
}

main{
    padding: 15px;
}

 