@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto+Slab:wght@300&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Roboto Slab', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 0 15px;
}


.navbar{
    font-family: 'Roboto Slab', serif;
    align-items: center;
} 

.barra{
    display: flex;
    font-size: 20px;
}

.barra ul{
    padding-right: 20px;
}

.barra li{

    list-style: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    transition: 0.8s;
}

.barra a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: 0.5s;
}

.barra a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    text-decoration: underline;
    transform: scale(1.2);
}

.titulo{
    text-align: center;
}

h1{
    background-color: white;
    font-family:fantasy;
    border-bottom: 2px black solid;
}

/* ESTILOS PARA EL MAIN */

main{
    height: auto;
}

hr{
    color: rgb(255, 0, 0);
}

.bloqueUno{
    height: 500px;
    width: auto;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.imgNacional{
    
    margin: 100px;
}

.texto{
    display: inline-block;
    margin-top: 100px;
    
}


.bloqueUno h2{
    text-decoration: underline;
    margin: 20px;
    margin-bottom: 80px;
    font-size: 35px;
}

.bloqueUno p{
    font-size: 22px;
}

.botonVer{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 40px;
    margin-top: 375px;
    margin-top: -375px;
}

.bloqueDos{
    /* background-color: burlywood; */
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
}

.imgDos{
    margin: 100px;
}

.textoDos{
    display: inline-block;
    margin-top: 100px;
}

.bloqueDos h2{
    text-decoration: underline;
    margin: 20px;
    margin-bottom: 80px;
    font-size: 35px;
}

.bloqueDos p{
    font-size: 22px;
}

.botonVer{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 40px;
    margin-top: 375px;
}

.rectangulo{
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.cuadradoUno{
    padding-right: 70px;
}

.rectangulo i{
    padding-left: 150px;

}

/* ESTILOS PARA EL FOOOTER */

footer{
    height: 100px;
    background-image: url(media/footer.jpg);
    background-size: cover;
    font-size: 22px;
    display: flex;
    justify-content: center;

}

.iconos{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.iconos a{
    color: rgb(0, 0, 0);
}

.footer p{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Estilos para Bicicletas.html */
.bicicletas{
    height: 800px;
    border: 3px dotted rgb(255, 0, 0);
    background-color: rgba(132, 79, 79, 0.5)
}


/* ESTILOS PARA MARCAS.HTML */

.marca{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;


}

.topmega{
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
}

.textoyboton{
    width: 400px;
    height: auto;
    border: 5px solid rgb(255, 0, 0);
    margin-left: 50px;
    
}

.textoyboton p{
    font-size: 22px;
}

.textoyboton button{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    margin-top: 146px;
}

.zion{
    display: flex;
    justify-content: center;
    margin: 40px;
    text-align: center;
}

.textoyboton2{
    width: 400px;
    height: auto;
    border: 5px solid rgb(255, 0, 0);
    margin-left: 50px;
    
}

.textoyboton2 p{
    font-size: 22px;
}

.textoyboton2 button{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    margin-top: 172px;
}

main .cuerpo{
    height: 750px;
}

/* ESTILOS PARA BICICLETAS */

.gridBici {
    border: 2px solid rgb(0, 0, 0);
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "uno"
                         "dos"
                         "tres"
                         "cuatro"
                         "cinco"
                         "seis";
    background-color: rgb(255, 0, 0);
}

.bici{
    /* border: 2px black solid; */
    border-radius: 5px;
    
}

.card{
    height: 100%;
    
}

.biciuno{
    grid-area: uno;
    
}

.bicidos{
    grid-area: dos;
}

.bicitres{
    grid-area: tres;
}

.bicicuatro{
    grid-area: cuatro;
}

.bicicinco{
    grid-area: cinco;
}

.biciseis{
    grid-area: seis;
}

/* ESTILOS PARA ACCESORIOS */


.gridAccesorios{
    border: 2px solid rgb(0, 0, 0);
    height: auto;
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-template-areas: "uno"
                         "dos"
                         "tres"
                         "cuatro"
                         "cinco"
                         "seis";
    
    background-color: rgb(255, 0, 0);
}

.accesorio{
    /* border: 2px black solid; */
    margin: 0 5px;
    border-radius: 5px;
    grid-gap: 5px;
}

.btnCard{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

    height: 100%;
    font-family: 'Inter', sans-serif;
}

.acceUno{
    grid-area: uno;
    
}

.acceDos{
    grid-area: dos;
}

.acceTres{
    grid-area: tres;
}

.acceCuatro{
    grid-area: cuatro;
}

.acceCinco{
    grid-area: cinco;
}

.acceSeis{
    grid-area: seis;
}



/* ESTILOS PARA NOSOTROS.HTML */

.cuerpo{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cuerpo form {
    max-width: 400px; 
    margin: 0 auto; display: flex;
    flex-direction: column;
    align-items: center;
  }
  

