@import url('https://fonts.googleapis.com/css2? family= Inter:wght@500 & family= Poppins:ital,wght@1,700 & family= Roboto+Slab:wght@300 & display= intercambio');

// font-family: 'Inter', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto Slab', serif;

$colorprinc:rgb(255, 0, 0);
$blanco:rgb(255, 255, 255);
$negro: rgb(0, 0, 0);
$fuente:Poppins;