/* ESTILOS PARA ACCESORIOS */
h3{
    text-align: center;
}

.gridAccesorios{
    border: 2px solid $negro;
    height: auto;
    display: grid;
    padding: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    grid-template-areas: "1"
                         "2"
                         "3"
                         "4"
                         "5"
                         "6";
    background-color: $colorprinc;
    .accesorio{

        margin: 0 5px;
        border-radius: 5px;
        grid-gap: 5px;

    @for $i from 1 through 6{
            .acce#{$i} {
                grid-area: #{$i};
            }
        }
    }
}

.btnCard{
    padding: 10px 20px;
    background-color: $colorprinc;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}