/* ESTILOS PARA MARCAS.HTML */

  .marcas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .marca {
        justify-content: space-between;
        max-width: 350px;
        height: 500px;
        padding: 15px;
        margin: 30px;
        img {
          max-width: 100%; 
        }
        p{
            max-width: 400px;
        }
    }
  }

  .mainMarca{
    height: 1400px;
  }


@media screen and (min-width: 1170px) {
    .mainMarca {
      height: 1000px;
    }
  }

  @media screen and (max-width: 789px) {
    .mainMarca {
      height: 2200px;
    }
  }

